@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat&display=swap");


:root{
  --flamenco: 'Flamenco', cursive;
  --monst:'Montserrat', sans-serif;
  --red:rgb(224, 36, 94);
  --btn:white;
  --hover:rgb(104, 95, 95);
  --ball: rgb(163, 154, 156);
  --search:gray;
  --sidebar:#333;
  --text-color:white;
  --background:#222;
}
.lightmode {
  --btn:rgb(247, 247, 247);
  --hover:rgb(100, 100, 223);
  --ball: rgb(83, 59, 189);
  --search:rgb(97, 102, 98);
  --sidebar:rgb(40, 52, 107);
  --text-color:black;
  --background:rgb(224, 213, 213);
}
body {
  margin: 0;
  font-family: var(--monst);
  background-color: var(--background);
  color: snow;
}
a{
  color: white;
}
a:hover{
  color: var(--hover);
  text-decoration: none;
}
.sidebar {

  color: white;
  width: 250px;
  background-color: var(--sidebar);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 19px;
  text-decoration: none;

}
.addtaskbtn {
  position: fixed;
  padding: 8px 22px;
  bottom:50px;
  right: 70px;
  font-weight: 800;
  font-size: 30px;
  border-radius: 50%;
  background: var(--sidebar);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.addtaskbtn:hover {
  background: var(--hover);
}
 
.sidebar a.active {
  background-color: gray;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: var(--hover);
  color: white;
}

.content {
  margin-left: 250px;
  padding: 10px 16px;
  
}
.heading{
  display: none;
}
.down{
  border-bottom: 1px solid gray;
}

.alerts{
  width: 80%;
  margin: auto;
  border:none;
  margin-top: 16px;
}
#open{
  display: none;
}
#searchbar{
  width:80%;
  margin:auto;
  background:var(--search);
}
@media screen and (max-width: 730px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #searchbar{
    width:90%;
    margin:auto;
    background:var(--search);
  }
  .down{
  border-bottom:none;
}
  .todos{
    display: none;
  }
  #open{
    display: block;
  }
  .sidebar a {
    float: left;

  }
  div.content {
    margin-left: 0;
  }
  .heading{
  display: block;
}
#logout{
  display: none;
}
}
#open{
  display: none;
}
@media screen and (max-width: 501px) {
   .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #searchbar{
    width:100%;
    margin:auto;
    background:var(--search);
  }
  #dates{
    display: none;
  }
  #logout{
    display: none;
  }
  #open{
    display: block;
  }
  .alerts{
  width: 100%;
}
  .name{
    display: none;
  }
  .down{
  border-bottom:none;
}
.heading{
  display: block;
}
  .todos{
    display: none;
  }
  .sidebar a {
    float: left;
   
  }
  div.content {
    margin-left: 0;
  }
}
.imp{
  color: gray;
}
.imp:hover{
  color: red;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color:var(--btn);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 21px;
	width: 43px;
	transform: scale(1.5);
}
.label .ball {
	background-color:var(--ball);
	border-radius: 50%;
	position: absolute;
	top: 1.5px;
	left: 2px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(21px);
}
.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
.dark-btn{
  margin-top: 20px;
  margin-left: 20px;
}
