<div class="sidebar">
      <a href="{% url 'home' %}" class="todos">MS Todo</a>
      <a class="active" href="#home"><i class="fa fa-user" style="margin-right:10px;"></i><span class="name">{{request.user}}</span></a>
      <a href="{% url 'important' %}"><i class="fa fa-star" style="margin-right:10px;"></i><span class="name">Important</a>
      <a href="#contact" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" style="margin-right:10px;"></i><span class="name">Tasks</span></a>
    <span class="todos">
      	<a class="active"><i class="fa fa-user" style="margin-right:10px;"></i>Recently Added(3)</a>
      	{% for task in side_tasks %}
          <a><i class="fa fa-bars" style="margin-right:10px;"></i>{{task.title}}</a>
          
         {% empty %}
         <a href="#about" class="down" style=""><i class="fa fa-bars" style="margin-right:10px;"></i><span class="name">No tasks added yet!</span></a>
          {% endfor %}
    </span>
       <a class="active" href="{% url 'logout' %}">Logout</a>
</div>